@mixin icon-arrow-right(
  $width: 8px,
  $height: 8px,
  $line-width: 1px,
  $color: transparent
) {
  width: $width;
  height: $height;
  border-top: $line-width solid $color; /*no*/
  border-right: $line-width solid $color; /*no*/
  box-sizing: border-box;
  transform: rotate(45deg);
}

@mixin icon-arrow-left(
  $width: 8px,
  $height: 8px,
  $line-width: 1px,
  $color: transparent
) {
  width: $width;
  height: $height;
  border-top: $line-width solid $color;
  border-left: $line-width solid $color;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

@mixin icon-arrow-down(
  $width: 8px,
  $height: 8px,
  $line-width: 1px,
  $color: transparent
) {
  width: $width;
  height: $height;
  border-bottom: $line-width solid $color;
  border-left: $line-width solid $color;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

@mixin icon-arrow-up(
  $width: 8px,
  $height: 8px,
  $line-width: 1px,
  $color: transparent
) {
  width: $width;
  height: $height;
  border-top: $line-width solid $color;
  border-left: $line-width solid $color;
  box-sizing: border-box;
  transform: rotate(45deg);
}
