$borderColor: #dcdfe6;

// buic组件的颜色
$border-color: #eeeeee; // 分割线、次要按钮边框
$top-title-color: #000000; // 顶部标题文字
$main-font-color: #282828; // 主要文字信息、标题、正文
$tips-font-color: #999999; // 次要文字信息，辅助文字、提示语
$theme-color: #d7b88b; // 应用于重要文字、按钮、icon、标签
// 层级
$zIndex0: -1;
$zIndex1: 10;
$zIndex2: 20;
$zIndex3: 30;
$zIndex4: 40;
