# http://editorconfig.org
root = true

[*] ## 表示所有文件适用
indent_style = space ## 缩进风格（tab | space）
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true ## 去除行首的任意空白字符
insert_final_newline = true ## 在文件结尾添加一个空白行；

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
